*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.header img{
    width: 100px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}
.header #re{
    display: none;
}
.header ul{
    display: flex;
    margin-top: 50px;
    font-size: 23px;
    gap: 25px;
   margin-right: 50px;
}
.header ul li{
    list-style: none;
}
.btn button{
    margin-top: -20px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: darkgrey;
    color: aliceblue;
    font-size: 1.2em;
}
.btn button:hover{
    background-color: brown;
     transform: scale(1.1);
}

/* Section1 */
.section1{
    background-image: linear-gradient(rgba(0,0,0,0.4)), url("https://media.istockphoto.com/id/1283316581/photo/successful-group-portrait-of-smart-creative-industry-technician-engineer-wearing-uniform-and.jpg?s=1024x1024&w=is&k=20&c=iUQMIKNtOPYmLzsRawhzX9Z6jgSXYDKgxSgXJF1UgIA=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    /* background-color: #424040 ; */
    position: relative;
    margin-top: 10px;
    
}
.section1 h2{
 color:white;
 margin-left: 50px;
 padding-bottom: 0px;
 padding-top: 150px;
 font-weight: bolder;

}
.section1 h1{
    font-size: 4.6em;
    padding-left: 50PX;
    font-weight: bolder;
    padding-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.section1 p{
    padding-left: 50px;
    font-size: 1.3em;
    font-weight: 400;
    padding-top: 0px;
    color: white;
}
.section1 #get{
    margin-left: 50px;
    margin-top: 50px;
    padding: 15px 50px;
    border: none;
    background-color: rgb(141, 202, 19);
    border-radius: 30px;
    color: white;
    font-size: 1.3em;
}
.section1 #get:hover{
    background-color: cornflowerblue;
}

/* sectio2 */
.section2{
    margin-top: 10px;
    margin-bottom: 60px;
    display: flex;
    gap: 25px;
}
.all{
    display: flex;
    width: 20%;
    height: 35vh;
    gap: 30px;
    margin-left: 20px;
}
.all img{
    width: 40px;
    height: 70px;
    padding-top: 20px;
}
.q1 h1{
    font-size: 1.3em;
    padding-bottom: 5px;
    color: #424040;
}
.q1 p{
    color: #585656;
}
.al{
    display: flex;
    width: 20%;
    height: 35vh;
    gap: 30px;
    margin-left: 20px;
    background-color: rgb(235, 229, 229);
}
.al img{
    width: 40px;
    height: 70px;
    padding-top: 20px;
}
.q1 h1{
    font-size: 1.3em;
    padding-bottom: 5px;
    color: #424040;
}
.q1 p{
    color: #585656;
}

.ali{
    display: flex;
    width: 20%;
    height: 35vh;
    gap: 30px;
    margin-left: 20px;
    background-color: #d4c8c8;
}
.ali img{
    width: 40px;
    height: 70px;
    padding-top: 20px;
}
.q1 h1{
    font-size: 1.3em;
    padding-bottom: 5px;
    color: #424040;
}
.q1 p{
    color: #585656;
}

/* section3 */
.section3{
    margin-bottom: 30px;
    display: flex;
    margin-top: 160px;
    overflow: hidden;
}
.left h1{
    padding-left: 60px;
    font-weight: bolder;
    font-size: 2.4em;
}
.left{
    width: 45%;
    margin-top: 20px;
}
 #f{
    width: 80px;
    border: 2px solid;
    margin-top: 30px;
    margin-left: 60px;
}
.r hr{
    width: 80px;
    border: 2px solid;
    color: rgb(168, 201, 23);
    margin-left: 140px;
    margin-top: -22px;
}
.left p{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.1em;
}
 .section3 #us{
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px 40px;
    background-color: darkseagreen;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.3em;
 }
 .section3 #us:hover{
    background-color: brown;
    transform: scale(1.2);
 }
 .right img{
    margin-left: 160px;
    margin-top: -10px;
    animation: jj 4s ease-in-out;
    /* animation-timeline: view(10% auto); */
 }
 @keyframes jj{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translate(0px);
    }
 }

 /* section4 */
 .section4{
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #f3eded;
    height: 120vh;
 }
 .o{
    text-align: center;
    padding-top: 40px;
 }
 .o h1{
    font-size: 3.4em;
    font-weight: bold;
 }
 .o p{
    font-size: 15px;
    color: #585656;

 }
 .m{
    margin-left: 90px;
 }
 #one{
    width: 60px;
    margin-top: 20px;
    margin-left: 500px;
    border-color: chartreuse;
    border: 1.3px solid;
 }
#two{
    width: 50px;
    margin-left: 561px;
    margin-top: -20px;
    border: 1.2px solid;
    border-color: rgb(238, 24, 24);
}
#thre{
    width: 60px;
    margin-left: 610px;
    margin-top: -20px;
    border-color: darkblue;
}
.l{
    background-color: #d4c8c8;
    width: 370px;
    margin-left:50px ;
    height: 70vh;
    box-shadow: 2px 2px 3px 1px rgb(175, 165, 165);
    border: none;
    margin-top: 40px;
    animation: xx 4s ;
    animation-timeline: view(20% auto);
}
@keyframes xx{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}


.n{
    display: flex;
}
.k img{
    width: 370px;
}
.k img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.k h1{
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}
.k p{
    text-align: center;
    color: gray;
    padding-top: 10px;
}
.k h3{
    text-align: center;
    padding-top: 30px;
}
.section5{
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    z-index: 1;
}
#fy{
    width: 50px;
    border: 1.3px solid;
    margin-left: 20px;
    margin-top: 10px;
}
#yy{
    width: 50px;
    border: 1.3px solid;
    margin-left: 70px;
    margin-top: -20px;
    border-color: rgb(243, 29, 29);
}
.left1{
    width: 400px;
    margin-left: 70px;
}
.left1 p{
    margin-bottom: 10px;
}
.left1 h1{
    font-size: 2.5em;
    padding-top: 25px;
}
.ki{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    margin-top: 20px;
}
.ki img{
    width: 70px;
    height: 70px;
    margin-top: 30px;
}
.x h1{
    font-size: 1.4em;
    color: #4b4949;
    font-weight: bold;
}
.x p{
    padding-top: 10px;
    color: #424040;
}
.right1{
    width: 500px;
    height: 90vh;
    margin-left: 190px;
    background-color: dimgray;
    text-align: center;
}
.right1 h1{
    padding-top: 70px;
    font-size: 2.7em;
}
.i{
    margin-top: 40px;
}
.i input{
    margin-bottom: 20px;
    width: 400px;
    height:50px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    outline: none;
}
.i textarea{
    width: 400px;
    height: 120px;
    padding-top: 20px;
    padding-left: 10px;
    outline: none;
}
#submit{
    margin-top: 40px;
    padding: 15px 130px;
    border: none;
    color: white;
    font-size: 20px;
    background-color:seagreen ;
}
#submit:hover{
    background-color: red;
}

/* section6 */
.section6{
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(https://royaletouche.gumlet.io/wp-content/uploads/2024/09/27123301/interior-design-for-office1.jpg?compress=true&quality=80&w=1500&dpr=2.6);
    width:100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
}
.t h2{
    padding-left: 90px;
    padding-top: 100px;
    color: white;
    font-size: 1.2em;
}
.t h1{
    padding-left: 90px;
    font-size: 3em;
    color: rgb(223, 217, 217);
    font-weight: bold;
}
.kio{
    margin-top: 130px;
    margin-left: 150px;
}
.kio input{
    width: 290px;
    height: 40px;
    outline: none;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
}
.c{
    margin-top: -40px;
}
.c button{
    margin-left: 320px;
    padding: 10px 30px;
    background-color: #4b4949;
    color: white;
    border: none; 
    font-size: 1.2em;
}
.kio button:hover{
    background-color: teal;
}

/* section7 */
.section7{
    margin-top: 50px;
    z-index: 1;
    margin-bottom: 50px;
}
.cli {
    text-align: center;
}
.cli h1{
    font-size: 3em;
}
.buu #first{
    width: 70px;
    margin-top: 20px;
    margin-left: 550px;
    border: 1.2px solid chartreuse;
}
.buu #second{
    width: 40px;
    margin-left: 620px;
    border: 1.3px solid rgb(28, 29, 29);
    margin-top: -20px;
}
.buu #third{
    width: 70px;
    margin-left: 660px;
    margin-top: -20px;
    margin-bottom: 20px;
    border: 1.3px solid;
    border-color: chartreuse;
}
.nav{
    display: flex;
    margin-left: 40px;
}
.zo{
    width: 40%;
    height: 30vh;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    gap: 20px;
    box-shadow:2px 2px 5px ;
}
.zo img{
    width: 100px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
.zo p{
    margin-top: 40px;
}
.zo h3{
    margin-top: 20px;
    color: #4b4949;
}
.zo #cust{
    margin-top: 20px;
}
.aq{
    margin-top: 90px;
    margin-left: 550px;
    margin-bottom: 30px;
}
#gg{
    width: 20px;
    font-size: 15px;
    margin-top: -20px;
    padding-left: 10px;
}
#angel{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
}
/* section8 */
.section8{
    width: 100%;
    height: 130vh;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #fcf5f5;
}
.gua{
    text-align: center;
    
}
.gua h1{
    font-size: 3em;
    padding-top: 40px;
}
.gua p{
    font-size: 1.1em;
    padding-bottom: 20px;
}
.x1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.x1 #x2{
    width: 60px;
    margin-bottom: 10px;
    margin-left: 600px;
    margin-top: 10px;
    border: 1.3px solid rgb(201, 214, 15);
}
.x1 #x3{
    width: 30px;
    margin-bottom: 10px;
    margin-left: 660px;
    margin-top: -12px;
    border: 1.4px solid;
}
.x1 #x4{
    width: 60px;
    margin-bottom: 10px;
    margin-left: 690px;
    border: 1.3px solid rgb(201, 214, 15);
    margin-top: -12px;
}
.x5{
    display: flex;
    gap: 50px;
    margin-left: 90px;
}
 .x6{
    width: 350px;
    height: 90vh;
    background-color: white;
    margin-top: 30px;
    margin-left: 0px;
 }
 .x6:hover{
    background-color: coral;
 }
 .x6 img{
    width: 350px;
 }

 .x6 h3{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
 }
  .x6 p{
    text-align: center;
    padding-bottom: 10px;
 }
 .x7{
    margin-left: 90px;
    margin-top: 30px;
    
 }
 .x7 i{
    padding-left: 15px;
    font-size: 1.2em;
 }

 /* section9 */
 .section9{
    margin-top:50px;
    margin-bottom: 50px;
 }
 .Latest{
    text-align: center;
 }
 .Latest h1{
    font-size: 3em;
 }
 .Latest p{
    font-size: 1.1em;
 }
 .x8{
    display: flex;
    margin-left: 20px;
 }
  .x9{
    width: 380px;
    margin-left: 40px;
    margin-top: 20px;
    
  }
  .x9 img{
   width: 380px;
  }
  .x9 h1{
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .l1{
    margin-top: 5px;
    margin-bottom: 10px;
  }
.l1 #g1{
    margin-left: 20px;
}
 #sep{
    margin-left: 5px;
}
.x9 p{
    color: gray;
    font-size: 1.1em;
    padding-top: 6px;
}
 #x10{
    padding: 13px 35px;
    margin-top: 15px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 20px;
    font-size:15px;
}
#x10:hover{
    background-color: rgb(30, 30, 88);
    cursor: pointer;
}

/* section10 */
.footer{
    width: 100%;
    height: 75vh;
    background-color: #fcf5f5;
}
.foter{
    display: flex;
        justify-content: space-between;
        padding-top: 90px;
        padding-left: 30px;
}
.f1{
    width: 250px;
}
.f1 h1{
    padding-bottom: 20px;
}
.f1 p{
    padding-bottom: 0px;
    font-size: 1.1em;
}
.f2 h1{
  padding-bottom: 20px;
}
.f2 p{
    padding-bottom: 10px;
    font-size: 1.1em;
}
.f3 h1{
    padding-bottom: 20px;
}
.f3 p{
    padding-bottom: 5px;
    font-size: 1.1em;
}

.f4 h1{
    padding-bottom: 10px;
    width: 340px;
}
.f4 p{
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.l0 input{
    width: 190px;
    height: 40px;
    outline: none;
    position: relative;   
}
.l0{
    position: relative;
}
.l0 i{
    font-size: 3.4em;
    padding-top: 10px;
    position: absolute;
    left: 155px;
    right: 0px;
    top: -16px;
}
.l0 i:hover{
  color: crimson;
}
.f5 i{
    margin-top: 30px;
    font-size: 1.2em; 
    margin-left: 10px;
}
.f5 i:hover{
    color: gold;
}
.f6{
    text-align: center;
    margin-top: 150px;
    margin-left: -40px;
    font-size: 1.4em;
}




 @media(max-width:428px){
    .header ul{
        display: none;
    }
    .header img{
        width: 120px;
    }
    .header #re{
        display: block;
        margin-right: 30px;
        margin-top: 35px;
        font-size: 2em;
    }
    .header h2{
        margin-top: -300px;
    }
    .section1{
        height: 80vh;
    }
    .btn button{
        margin-top: 170px;
    }
    .section2{
        width: 100%;
    }
    .section2{
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
    }
    .all{
        width: 75%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .all img{
        height: 10vh;
        width: 120px;
    }
    .all p{
        font-size: 25px;
    }
    .al{
        margin-bottom: 20px;
        width: 75%;
    }
        .al img{
        height: 10vh;
        width: 120px;
    }
    .al p{
        font-size: 25px;
    }
    .ali{
        margin-bottom: 20px;
        width: 75%;
    }
    .ali img{
        height: 10vh;
        width: 120px;
    }
    .ali p{
        font-size: 25px;
    }
    .section3{
        flex-direction: column;
        width: 90%;
    }
    .right img{
        width: 340px;
        margin-left: 80px;
    }
    .left{
        width: 100%;
    }
    .left p{
        font-size: 25px;
    }
    .section3 #us{
        margin-bottom: 40px;
    }
    .r hr{
        margin-top: -21px;
    }
    .section4{
        height: 200vh;
    }.m{
        margin-left: -380px;
    }
    .n{
        flex-direction: column;
    }
    .l{
        height: 55vh;
        margin-left: 30px;
    }
    .section5{
        flex-direction: column;
    }
    .left1{
        width: 90%;
        margin-left: 15px;
    }
    .right1{
        width: 400px;
        margin-left: 20px;
        height: 70vh;
    }
     .i input{
        width: 90%;
    }
    .i textarea{
        width: 90%;
    }
    #submit{
        padding: 10px 40px;
    }
    .section6{
        width: 100%;
        flex-direction: column;
        height: 55vh;
    }
    .kio input{
        margin-left: -130px;
        width: 200px;
        margin-top: -390px;
    }
    .c button{
        margin-left: 100px;
    }
    .nav{
        flex-direction: column;
    }
    .zo{
        width: 100%;
        margin-left: -20px;
    }
    .buu{
        margin-left: -430px;
    }
    .aq{
        margin-left: 110px;
        
    }
    /* section8 */
    .section8{
        height:265vh ;
    }
    .x1{
        margin-left: -460px;
    }
    .x5{
        flex-direction: column;
        margin-left: 30px;
    }
    .x6{
        height: 70vh;
    }
    /* section9 */
    .x8{
        flex-direction: column;
    }
    .x9{
        margin-left: 10px;
    }
    .footer{
        height: 130vh;
    }
    .foter{
        flex-direction: column;
        margin-left: 0px;
    }
 }

